doctype html
html
    head
        title First Project
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    body
        .container
            h1 #{title}
            ul.list-group
                each article, i in articles
                    li.list-group-item
                        a(href="/article/"+article._id)= article.title