doctype html
html
    head
        title First Project
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    body
        .container
            h1 #{title}
            ul.list-group
                each article, i in articles
                    li.list-group-item
                        a(href="/article/"+article._id)= article.title
            script(src='/bower_components/jquery/dist/jquery.js')
            script(src='/bower_components/bootsrap/dist/js/bootstrap.js')
            script(src='/js/main.js')
            script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')